@charset "UTF-8";

body {
    background-color: #D6D58E;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #005C53;
}

h2 {
    color: #042940;
}

#principal {
    color: #D6D58E;
    background-color: #9FC131;
    text-align: center;

}

.basico {
    color: green;
    font-weight: bold;
}

.intermediario {
    color: rgb(238, 255, 0);
}

.avançado {
    color: red;
}